node red flow
[{"id":"309a1391.13a54c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f441ce02.d7dc9","type":"ui_form","z":"309a1391.13a54c","name":"","label":"","group":"9663abcd.b7be28","order":3,"width":0,"height":0,"options":[{"label":"Say something!!","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":190,"y":280,"wires":[["6514d39c.1fa10c"]]},{"id":"6514d39c.1fa10c","type":"function","z":"309a1391.13a54c","name":"","func":"msg.payload = msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":200,"wires":[["bd463ae4.ff7838","4a283569.a16bfc"]]},{"id":"88a9dab0.72a408","type":"function","z":"309a1391.13a54c","name":"","func":"msg.payload = msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":180,"wires":[["d1349633.7a06a8"]]},{"id":"bd463ae4.ff7838","type":"watson-conversation-v1","z":"309a1391.13a54c","name":"Customer care","workspaceid":"0b483ab8-d375-4312-8a3f-a07a42e8fc7c","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/50b5577e-eec0-4295-b20f-71961623768b","timeout":"","optout-learning":false,"x":600,"y":100,"wires":[["53a156d8.60d798","88a9dab0.72a408"]]},{"id":"4a283569.a16bfc","type":"ui_text","z":"309a1391.13a54c","group":"9663abcd.b7be28","order":1,"width":0,"height":0,"name":"","label":"You","format":"{{msg.payload}}","layout":"col-center","x":610,"y":320,"wires":[]},{"id":"53a156d8.60d798","type":"debug","z":"309a1391.13a54c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":990,"y":20,"wires":[]},{"id":"d1349633.7a06a8","type":"ui_text","z":"309a1391.13a54c","group":"9663abcd.b7be28","order":2,"width":0,"height":0,"name":"","label":"BoT","format":"{{msg.payload}}","layout":"col-center","x":1100,"y":340,"wires":[]},{"id":"9663abcd.b7be28","type":"ui_group","z":"","name":"chatbot","tab":"9432eed7.a4c0d","order":1,"disp":true,"width":27,"collapse":false},{"id":"9432eed7.a4c0d","type":"ui_tab","z":"","name":"Customer Help Desk","icon":"dashboard","disabled":false,"hidden":false}]